sectio.nav
  h1 FRONTEND TRENDS
  h3.span.loader
    span.m B
    span.m E
    span.m N
    span.m E
    span.m F
    span.m I
    span.m T
    span.m S
    span.m &nbsp;
    span.m o
    span.m f
    span.m &nbsp;
    span.m T
    span.m E
    span.m C
    span.m H
    span.m N
    span.m O
    span.m L
    span.m O
    span.m G
    span.m I
    span.m E
    span.m S
  .nav-container
    a.nav-tab(href="#tab-svelte") ABOUT ME
    a.nav-tab(href="#tab-esbuild") EDUCATION
    a.nav-tab(href="#tab-next") RESUME
    a.nav-tab(href="#tab-typescript") PROJECTS
    a.nav-tab(href="#tab-vite") SOCIALS
    span.nav-tab-slider
main.main
  section#tab-svelte.slider
    h1 ABOUT ME
    h2 Hi. I'm a 19 year old student from Los Angeles, Ca, pursuing a BA in Computer Science and Data Science. I study at UC Berkeley.
  section#tab-esbuild.slider
    h1 EDUCATION
    h2 jkafads
  section#tab-next.slider
    h1 RESUME
    h2 afadsfa
  section#tab-typescript.slider
    h1 PROJECTS
    h2 giving you better tooling at any scale
  section#tab-vite.slider
    h1 SOCIALS
    h2 a frontend build tool
canvas.background
